.newMemberModal {
	@include flex-col-2();
	@include border-padding();
	@include shadow-def();

	background-color: $color-area;

	.friendsList {
		@include flex-col-1();
		overflow: auto;
		height: 300px;

		.friendsRow {
			display: flex;
			gap: $def-padding-gap;
			width: 100%;

			> * {
				width: 100%;
			}
			.defaultBtn {
				width: auto;
			}
		}
	}
}
