.chat-window {
	@include border-padding();
	@include flex-col-2;
	justify-content: end;
	padding-top: 0;
	overflow: auto;

	.messages {
		padding: 0 $def-padding-gap;
		@include flex-col-1;
		justify-content: end;
		flex-direction: column-reverse;
		overflow-y: scroll;
		height: 100vh;

		&.empty {
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}
	}

	.chat-footer {
		display: flex;
		gap: 1rem;
		align-items: center;
		padding: 0 $def-padding-gap;

		.chat-attach {
			background: none;
		}

		.chat-input {
			width: 100%;
			height: 100%;
			@include flex-row;
		}

		.chat-btn {
			background: none;
			display: flex;
		}
	}
}
