$color-bg: var(--color-bg);
$color-accent: var(--color-accent);
$color-secondary: var(--color-secondary);
$color-area: var(--color-area);
$color-hover: var(--color-hover);

$border-radius: var(--border-radius);
$def-padding-gap: var(--def-padding-gap);
