.scrollbarContainer::-webkit-scrollbar {
	width: 8px;
}

.scrollbarContainer::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: var(--accent-hover);
}

.scrollbarContainer::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background-color: var(--accent);
}

.scrollbarContainer:not(.has-scrollbar)::-webkit-scrollbar-track {
	background: none;
}
