.chat-header {
	@include border-padding();
	width: 100%;
	background-color: $color-accent;
	border-radius: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3rem;

	.avatarWrapper {
		width: 5em;
		height: 5em;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		box-shadow: 0 0 0 4px $color-area;
		background-color: $color-area;
		overflow: hidden;
		flex-shrink: 0;
	}

	.infoWrapper {
		width: 100%;
		@include flex-col-1();
	}

	.buttonsWrapper {
		display: flex;
		position: relative;

		.menuBtn {
			background: none;
			width: 40px;
			height: 40px;
			border-radius: 50%;
			padding: 4px;
			overflow: hidden;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				inset: 0;
				z-index: -1;
				border-radius: 50%;
				background-color: $color-area;
				transform: scale(0);
				opacity: 0;
				transition: transform 0.4s cubic-bezier(0.33, 1.45, 0.6, 1), opacity 0.2s;
			}

			&_active::before {
				transform: scale(1);
				opacity: 1;
			}
		}

		.groupMenu {
			@include border-padding();
			@include flex-col-1();
			background-color: $color-area;
			position: absolute;
			top: 100%;
			right: 0;

			transform-origin: top right;
			transform: scale(0.1) translate(20px, -20px);
			opacity: 0;
			transition: transform 0.2s ease, opacity 0.2s ease;
			pointer-events: none;

			&_active {
				transform: scale(1) translate(0, 0);
				opacity: 1;
				pointer-events: auto;
			}
		}
	}
}
