.resetPassFrom {
	@include flex-col-2();
	@include border-padding();

	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: 20px;
	transform: translate(-50%, -50%);

	width: 25%;

	background-color: $color-area;

	.showPass {
		margin-left: $def-padding-gap;
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		user-select: none;

		.visibilityBtn {
			width: 32px;
			height: 32px;
			background: none;
		}
	}

	.error {
		align-self: center;
		color: red;
	}

	form {
		@include flex-col-1();
		width: 100%;
	}

	a {
		align-self: center;
	}
}
