.newChat {
	@include flex-col-2();
	@include border-padding();
	align-items: center;

	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: 20px;
	transform: translate(-50%, -50%);

	width: 25%;
	min-height: 30%;
	background-color: $color-area;

	user-select: none;

	.row {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: $def-padding-gap;

		.inputWrapper {
			@include flex-col-1();
			width: 100%;
		}

		.defaultBtn {
			width: 25%;
		}
	}

	.error {
		align-self: center;
		color: red;
	}
}
