.registerForm {
	.backBtn {
		position: absolute;
		top: 5%;
		left: 3%;
		width: 32px;
		height: 32px;
		background: none;
	}

	.error {
		text-align: center;
		color: var(--error);
	}

	.showPass {
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		user-select: none;

		.visibilityBtn {
			width: 32px;
			height: 32px;
			background: none;
		}
	}
}

.codeInput {
	display: flex;
	gap: 12px;

	.inputCell {
		width: 48px;
		height: 48px;
		font-size: 24px;
		text-align: center;
		border-radius: 12px;
		border: 2px solid #e5e7eb;
		background-color: #f8fafc;
		font-weight: 500;

		@media (max-width: 480px) {
			width: 36px;
			height: 36px;
		}
	}
}

.registerLogo {
	position: relative;

	@media (max-width: 480px) {
		display: none;
	}

	.overlay {
		position: absolute;
		inset: 0;
		pointer-events: none;
		z-index: 1;
	}
}
