.resetPassPage {
	align-items: start;

	.error {
		align-self: center;
		color: var(--error);
	}

	.showPass {
		margin-left: 1rem;
		display: flex;
		align-items: center;
		gap: 8px;
		cursor: pointer;
		user-select: none;

		.visibilityBtn {
			width: 32px;
			height: 32px;
			background: none;
		}
	}

	.link {
		align-self: center;
	}
}
