.form-input {
	@include flex-col-1();
	width: 100%;

	.inputWrapper {
		input {
			background-color: $color-secondary;
			padding: $def-padding-gap;
			width: 100%;
			outline: none;
			border: none;
			border-radius: 16px;
			font-size: 16px;

			&.error {
				border: 1px solid red;
			}
		}
	}
}
