.loginForm {
	@include flex-col-2();
	@include border-padding();
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 40%;
	left: 50%;
	margin-top: 20px;
	transform: translate(-50%, -50%);

	min-width: 30%;
	min-height: 50%;

	background-color: $color-area;

	.logoWrapper {
		width: 96px;
		height: 96px;
	}

	form {
		@include flex-col-2();
		width: 100%;

		.group-wrapper {
			@include flex-col-1();

			.passwordInput {
				position: relative;

				.visibilityBtn {
					position: absolute;
					top: 50%;
					right: 16px;
					transform: translateY(-50%);

					background: none;
					border: none;

					width: 24px;
					height: 24px;
				}
			}
		}

		.actions-row {
			display: flex;
			justify-content: space-between;

			label {
				display: flex;
				align-items: center;
				gap: 8px;

				input[type='checkbox'] {
					display: none;
				}

				.rememberCheckbox {
					width: 16px;
					height: 16px;
					border: 1px solid black;
					border-radius: 2px;
					background-repeat: no-repeat;
					background-position: center center;
				}

				input[type='checkbox']:checked + .rememberCheckbox {
					background-image: url('../../assets/check.svg');
				}
			}
		}

		.error {
			align-self: center;
			color: red;
		}

		.navigate-row {
			align-self: center;
		}
	}
	a {
		color: #0f6488;

		&:active {
			color: #0f6488;
		}
	}
}
