.time {
	opacity: 0.8;
	margin-left: auto;
}

.text {
	overflow: hidden;
	text-overflow: ellipsis;
}

.counter {
	align-items: end;
	min-width: 22px;
	height: 22px;

	text-align: center;
	padding: 2px 1px 0 0;
	background-color: white;
	border-radius: 24px;
}
