:root {
	--color-bg: #2f2b42;

	--color-secondary-rba: 87, 78, 123;
	--color-secondary: rgba(var(--color-secondary-rba), 1);

	--color-area: #393251;
	--color-accent: #9a68ef;
	--color-hover: rgba(154, 104, 239, 0.4);

	--border-radius: 24px;
	--def-padding-gap: 1rem;
}

.light-theme {
	--color-bg: #e5e5e5;

	--color-secondary-rba: 188, 222, 221;
	--color-secondary: rgba(var(--color-secondary-rba), 1);

	--color-area: rgba(225, 241, 248, 1);
	--color-accent: #4cb2ac;
	--color-hover: rgba(76, 178, 172, 0.5);
}
